@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 200, 200, 200;
  --background-rgb: 20, 20, 20;
  --muted-rgb: 150, 150, 150;
}

@layer base {
  body {
    @apply bg-[#141414] text-[#c8c8c8];
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-[#c8c8c8];
  }

  h2 {
    @apply text-[#c8c8c8];
  }
}

